<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <title>Vision Ilustrada  </title>
    <link rel="stylesheet" href="../assets/css/login.css">
  </head>
  <body>
    <section class="vh-100"> 
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 2.5rem;">
              <div class="row g-0">
                
                <div class="col-md-5 col-lg-6 d-none d-md-block " style="background-color: rgba(159, 88, 244); border-bottom-left-radius: 2.5rem;
                border-top-left-radius: 2.5rem;  ;">
                  <div class="LoginBienvenido">
                    <span class="h3 fw-bold mb-1">Bienvenido</span> <br>
                    <span class="h7 fw-bold mb-0">A una asistencia Remota</span>
                  </div>
                  <img class="fondo" src="./Fondo.jpg"
                    alt="login form" class="img-fluid" />
                </div>
         
                <div class="col-md-6 col-lg-6 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
    
                    <form>
                      
                      <div class="pt-1 mb-4">
                        <button class="buttonW" type="button"> <span  class="creatSpan">Welcome back </span> </button>
                      </div>
    
                      <div class="LoginA">
                        <span class="h5 fw-bold mb-0">Login your account</span>
                      </div>

                      <div class="row1">
                        <input type="text" name="username" id="username" class="form__input" placeholder=  "Username" >
                      </div>
                      <div class="row1">
                        <!-- <span class="fa fa-lock"></span> -->
                        <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                      </div>
    
                      <div class="LoginA" >
                        <button class="button" type="button">Login</button>
                      </div> <br> 
    
                      <div class="LoginA" >
                          <a class="creat" href="#!"> <span class="creatSpan" > <b> Create Account </b></span></a>
                      </div>
                      <br> <br> 
                      
                      <div class="LoginA" >
                          <a class="forgot" href="#!"> <b> Forgot password? </b></a>
                      </div>  
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </body>
</html>
